In [3]:
import numpy as np

In [4]:
import pandas as pd

# series->1d array
# dataframe->2d array

In [5]:
dic={
    "Name":["Ram","Shyam","Sameer","Kajal","Irfan","Rohait"],
    "Roll no":[1,2,3,4,5,6],
    "Grade":["A","B","C","D","E","F"],
    "Email":["Ram@.COM","Shyam@.COM","@.COM","Kajal@.COM","Irfan@.COM","Rohait@.COM"]
}

In [6]:
dic

{'Name': ['Ram', 'Shyam', 'Sameer', 'Kajal', 'Irfan', 'Rohait'],
 'Roll no': [1, 2, 3, 4, 5, 6],
 'Grade': ['A', 'B', 'C', 'D', 'E', 'F'],
 'Email': ['Ram@.COM',
  'Shyam@.COM',
  '@.COM',
  'Kajal@.COM',
  'Irfan@.COM',
  'Rohait@.COM']}

In [7]:
df = pd.DataFrame(dic)

In [8]:
df

     Name  Roll no Grade        Email
0     Ram        1     A     Ram@.COM
1   Shyam        2     B   Shyam@.COM
2  Sameer        3     C        @.COM
3   Kajal        4     D   Kajal@.COM
4   Irfan        5     E   Irfan@.COM
5  Rohait        6     F  Rohait@.COM

In [9]:
df.head(2)

    Name  Roll no Grade       Email
0    Ram        1     A    Ram@.COM
1  Shyam        2     B  Shyam@.COM

In [10]:
df.tail(2)

     Name  Roll no Grade        Email
4   Irfan        5     E   Irfan@.COM
5  Rohait        6     F  Rohait@.COM

In [11]:
df.describe()

        Roll no
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [12]:
import numpy as np
import pandas as pd

cus = pd.read_csv('customer.csv')
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [13]:
cus.drop(0)

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Mannheim,68306,Germany
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [14]:
cus.drop(3,axis=0)

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Mannheim,68306,Germany
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [15]:
cus.loc[tuple((np.arange(45,78))),('Company Name','Costumer Name')]

                    Company Name        Costumer Name
45             LILA-Supermercado      Carlos Gonzalez
46              LINO-Delicateses     Felipe Izquierdo
47      Lonesome Pine Restaurant          Fran Wilson
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong

In [16]:
cus.loc[tuple((np.arange(45,78))),('Company Name','Costumer Name')]

                    Company Name        Costumer Name
45             LILA-Supermercado      Carlos Gonzalez
46              LINO-Delicateses     Felipe Izquierdo
47      Lonesome Pine Restaurant          Fran Wilson
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong

In [17]:
cus.loc[np.arange(45,78),:]

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
45,46,LILA-Supermercado,Carlos Gonzalez,Barquisimeto,3508,Venezuela
46,47,LINO-Delicateses,Felipe Izquierdo,I. de Margarita,4980,Venezuela
47,48,Lonesome Pine Restaurant,Fran Wilson,Portland,97219,USA
48,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Bergamo,24100,Italy
49,50,Maison Dewey,Catherine Dewey,Bruxelles,21365,Belgium
50,51,Mere Paillarde,Jean Fresniere,Montreal,69162,Canada
51,52,Morgenstern Gesundkost,Alexander Feuer,Leipzig,4179,Germany
52,53,North/South,Simon Crowther,London,196215,UK
53,54,Oceano Atlantico Ltda.,Yvonne Moncada,Buenos Aires,1010,Argentina
54,55,Old World Delicatessen,Rene Phillips,Anchorage,99508,USA
55,56,Ottilies Kaseladen,Henriette Pfalzheim,Koln,50739,Germany
56,57,Paris specialites,Marie Bertrand,Paris,75012,France
57,58,Pericles Comidas clasicas,Guillermo Fernandez,Mexico D.F.,5033,Mexico
58,59,Piccolo und mehr,Georg Pipps,Salzburg,5020,Austria
59,60,Princesa Isabel Vinhoss,Isabel de Castro,Lisboa,1756,Portugal
60,61,Que Delicia,Bernardo Batista,Rio de Janeiro,816466,Brazil
61,62,Queen Cozinha,Lucia Carvalho,Sao Paulo,851306,Brazil
62,63,QUICK-Stop,Horst Kloss,Cunewalde,1307,Germany
63,64,Rancho grande,Sergio Gutierrez,Buenos Aires,1010,Argentina
64,65,Rattlesnake Canyon Grocery,Paula Wilson,Albuquerque,87110,USA
65,66,Reggiani Caseifici,Maurizio Moroni,Reggio Emilia,42100,Italy
66,67,Ricardo Adocicados,Janete Limeira,Rio de Janeiro,84646,Brazil
67,68,Richter Supermarkt,Michael Holz,Geneve,1203,Switzerland
68,69,Romero y tomillo,Alejandra Camino,Madrid,28001,Spain
69,70,Sante Gourmet,Jonas Bergulfsen,Stavern,4110,Norway
70,71,Save-a-lot Markets,Jose Pavarotti,Boise,83720,USA
71,72,Seven Seas Imports,Hari Kumar,London,85114,UK
72,73,Simons bistro,Jytte Petersen,Kbenhavn,1734,Denmark
73,74,Specialites du monde,Dominique Perrier,Paris,75016,France
74,75,Split Rail Beer & Ale,Art Braunschweiger,Lander,82520,USA
75,76,Supremes delices,Pascale Cartrain,Charleroi,21564,Belgium
76,77,The Big Cheese,Liz Nixon,Portland,97201,USA
77,78,The Cracker Box,Liu Wong,Butte,59801,USA

In [18]:
cus.loc[:,'Company Name']

0                    Alfreds Futterkiste
1     Ana Trujillo Emparedados y helados
2                Antonio Moreno Taqueria
3                        Around the Horn
4                      Berglunds snabbkp
                     ...
86                        Wartian Herkku
87                Wellington Importadora
88                  White Clover Markets
89                           Wilman Kala
90                                Wolski
Name: Company Name, Length: 91, dtype: object

In [19]:
np.array(cus.loc[:,'Company Name'])

array(['Alfreds Futterkiste', 'Ana Trujillo Emparedados y helados',
       'Antonio Moreno Taqueria', 'Around the Horn', 'Berglunds snabbkp',
       'Blauer See Delikatessen', 'Blondel pere et fils',
       'BOlido Comidas preparadas', 'Bon app', 'Bottom-Dollar Marketse',
       'Bs Beverages', 'Cactus Comidas para llevar',
       'Centro comercial Moctezuma', 'Chop-suey Chinese',
       'Comercio Mineiro', 'Consolidated Holdings',
       'Drachenblut Delikatessend', 'Du monde entier',
       'Eastern Connection', 'Ernst Handel', 'Familia Arquibaldo',
       'FISSA Fabrica Inter. Salchichas S.A.', 'Folies gourmandes',
       'Folk och fa HB', 'Frankenversand', 'France restauration',
       'Franchi S.p.A.', 'Furia Bacalhau e Frutos do Mar',
       'Galeria del gastrOnomo', 'Godos Cocina Tipica',
       'Gourmet Lanchonetes', 'Great Lakes Food Market',
       'GROSELLA-Restaurante', 'Hanari Carnes', 'HILARION-Abastos',
       'Hungry Coyote Import Store', 'Hungry Owl All-Night Grocers',
       'Island Trading', 'Koniglich Essen', 'La corne dabondance',
       'La maison dAsie', 'Laughing Bacchus Wine Cellars',
       'Lazy K Kountry Store', 'Lehmanns Marktstand', 'Lets Stop N Shop',
       'LILA-Supermercado', 'LINO-Delicateses',
       'Lonesome Pine Restaurant', 'Magazzini Alimentari Riuniti',
       'Maison Dewey', 'Mere Paillarde', 'Morgenstern Gesundkost',
       'North/South', 'Oceano Atlantico Ltda.', 'Old World Delicatessen',
       'Ottilies Kaseladen', 'Paris specialites',
       'Pericles Comidas clasicas', 'Piccolo und mehr',
       'Princesa Isabel Vinhoss', 'Que Delicia', 'Queen Cozinha',
       'QUICK-Stop', 'Rancho grande', 'Rattlesnake Canyon Grocery',
       'Reggiani Caseifici', 'Ricardo Adocicados', 'Richter Supermarkt',
       'Romero y tomillo', 'Sante Gourmet', 'Save-a-lot Markets',
       'Seven Seas Imports', 'Simons bistro', 'Specialites du monde',
       'Split Rail Beer & Ale', 'Supremes delices', 'The Big Cheese',
       'The Cracker Box', 'Toms Spezialitaten', 'Tortuga Restaurante',
       'Tradicao Hipermercados', 'Trails Head Gourmet Provisioners',
       'Vaffeljernet', 'Victuailles en stock',
       'Vins et alcools Chevalier', 'Die Wandernde Kuh', 'Wartian Herkku',
       'Wellington Importadora', 'White Clover Markets', 'Wilman Kala',
       'Wolski'], dtype=object)

In [45]:
cd=pd.DataFrame(Company Name)

ValueError: DataFrame constructor not properly called!

In [21]:
cd

C:\Users\smart

C:\Users\smart\AppData\Local\Programs\Python\Python312\Lib\site-packages\IPython\core\magics\osm.py:393: UserWarning: This is now an optional IPython functionality, using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})
C:\Users\smart\AppData\Local\Programs\Python\Python312\Lib\site-packages\IPython\core\magics\osm.py:428: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [22]:
cd=cd.T

NameError: name 'cd' is not defined

In [23]:
cd

C:\Users\smart

In [24]:
cd.drop_duplicates(subset='companies-',keep=False)

NameError: name 'cd' is not defined

In [25]:


employees = {
    1: {"company": "Tech Innovators", "employee": "Alice Johnson", "position": "Software Engineer"},
    2: {"company": "Tech Innovators", "employee": "Bob Smith", "position": "Project Manager"},
    3: {"company": "Creative Solutions", "employee": "Cathy Brown", "position": "Designer"},
    4: {"company": "Creative Solutions", "employee": "David Wilson", "position": "UX Researcher"},
    5: {"company": "Health First", "employee": "Eva Davis", "position": "Data Analyst"},
    6: {"company": "Health First", "employee": "Frank Clark", "position": "Healthcare Consultant"},
    7: {"company": "Eco World", "employee": "Grace Lewis", "position": "Environmental Scientist"},
    8: {"company": "Eco World", "employee": "Hank Miller", "position": "Ecologist"},
    9: {"company": "Finance Corp", "employee": "Ivy Martinez", "position": "Accountant"},
    10: {"company": "Finance Corp", "employee": "Jack Anderson", "position": "Financial Analyst"},
    11: {"company": "Market Masters", "employee": "Karen Lee", "position": "Marketing Specialist"},
    12: {"company": "Market Masters", "employee": "Leo Harris", "position": "Content Creator"},
    13: {"company": "Tech Innovators", "employee": "Mia Clark", "position": "DevOps Engineer"},
    14: {"company": "Tech Innovators", "employee": "Nathan Scott", "position": "QA Engineer"},
    15: {"company": "Creative Solutions", "employee": "Olivia Green", "position": "Graphic Designer"},
    16: {"company": "Creative Solutions", "employee": "Peter Adams", "position": "Product Manager"},
    17: {"company": "Health First", "employee": "Quinn Parker", "position": "Nurse"},
    18: {"company": "Health First", "employee": "Rachel Baker", "position": "Doctor"},
    19: {"company": "Eco World", "employee": "Sam Edwards", "position": "Wildlife Biologist"},
    20: {"company": "Eco World", "employee": "Tina Martinez", "position": "Conservationist"},
    21: {"company": "Finance Corp", "employee": "Uma Brooks", "position": "Auditor"},
    22: {"company": "Finance Corp", "employee": "Victor Rivera", "position": "Investment Banker"},
    23: {"company": "Market Masters", "employee": "Wendy Foster", "position": "SEO Specialist"},
    24: {"company": "Market Masters", "employee": "Xander Hughes", "position": "Social Media Manager"},
    25: {"company": "Tech Innovators", "employee": "Yvonne Carter", "position": "Data Scientist"},
    26: {"company": "Tech Innovators", "employee": "Zack Taylor", "position": "Network Engineer"},
    27: {"company": "Creative Solutions", "employee": "Amy Hall", "position": "Animator"},
    28: {"company": "Creative Solutions", "employee": "Brian Young", "position": "Video Editor"},
    29: {"company": "Health First", "employee": "Cindy King", "position": "Physical Therapist"},
    30: {"company": "Health First", "employee": "Derek Turner", "position": "Pharmacist"},
    31: {"company": "Eco World", "employee": "Elena Scott", "position": "Marine Biologist"},
    32: {"company": "Eco World", "employee": "Fred Harris", "position": "Botanist"},
    33: {"company": "Finance Corp", "employee": "Gina White", "position": "Credit Analyst"},
    34: {"company": "Finance Corp", "employee": "Henry Perez", "position": "Loan Officer"},
    35: {"company": "Market Masters", "employee": "Irene Morris", "position": "Brand Strategist"},
    36: {"company": "Market Masters", "employee": "John Ross", "position": "Market Research Analyst"},
    37: {"company": "Tech Innovators", "employee": "Kelly Evans", "position": "System Administrator"},
    38: {"company": "Tech Innovators", "employee": "Liam Collins", "position": "Product Designer"},
    39: {"company": "Creative Solutions", "employee": "Megan Kelly", "position": "Copywriter"},
    40: {"company": "Creative Solutions", "employee": "Nick Ward", "position": "Art Director"},
    41: {"company": "Health First", "employee": "Olga Reed", "position": "Radiologist"},
    42: {"company": "Health First", "employee": "Pauline Scott", "position": "Surgeon"},
    43: {"company": "Eco World", "employee": "Quincy Green", "position": "Geologist"},
    44: {"company": "Eco World", "employee": "Rita Campbell", "position": "Meteorologist"},
    45: {"company": "Finance Corp", "employee": "Steve Adams", "position": "Risk Manager"},
    46: {"company": "Finance Corp", "employee": "Tara Brown", "position": "Financial Planner"},
    47: {"company": "Market Masters", "employee": "Ulysses Davis", "position": "PR Specialist"},
    48: {"company": "Market Masters", "employee": "Vicky Johnson", "position": "Event Coordinator"},
    49: {"company": "Tech Innovators", "employee": "Will Graham", "position": "Mobile Developer"},
    50: {"company": "Tech Innovators", "employee": "Xena Holmes", "position": "Tech Support Specialist"}
}
print(employees)

{1: {'company': 'Tech Innovators', 'employee': 'Alice Johnson', 'position': 'Software Engineer'}, 2: {'company': 'Tech Innovators', 'employee': 'Bob Smith', 'position': 'Project Manager'}, 3: {'company': 'Creative Solutions', 'employee': 'Cathy Brown', 'position': 'Designer'}, 4: {'company': 'Creative Solutions', 'employee': 'David Wilson', 'position': 'UX Researcher'}, 5: {'company': 'Health First', 'employee': 'Eva Davis', 'position': 'Data Analyst'}, 6: {'company': 'Health First', 'employee': 'Frank Clark', 'position': 'Healthcare Consultant'}, 7: {'company': 'Eco World', 'employee': 'Grace Lewis', 'position': 'Environmental Scientist'}, 8: {'company': 'Eco World', 'employee': 'Hank Miller', 'position': 'Ecologist'}, 9: {'company': 'Finance Corp', 'employee': 'Ivy Martinez', 'position': 'Accountant'}, 10: {'company': 'Finance Corp', 'employee': 'Jack Anderson', 'position': 'Financial Analyst'}, 11: {'company': 'Market Masters', 'employee': 'Karen Lee', 'position': 'Marketing Specialist'}, 12: {'company': 'Market Masters', 'employee': 'Leo Harris', 'position': 'Content Creator'}, 13: {'company': 'Tech Innovators', 'employee': 'Mia Clark', 'position': 'DevOps Engineer'}, 14: {'company': 'Tech Innovators', 'employee': 'Nathan Scott', 'position': 'QA Engineer'}, 15: {'company': 'Creative Solutions', 'employee': 'Olivia Green', 'position': 'Graphic Designer'}, 16: {'company': 'Creative Solutions', 'employee': 'Peter Adams', 'position': 'Product Manager'}, 17: {'company': 'Health First', 'employee': 'Quinn Parker', 'position': 'Nurse'}, 18: {'company': 'Health First', 'employee': 'Rachel Baker', 'position': 'Doctor'}, 19: {'company': 'Eco World', 'employee': 'Sam Edwards', 'position': 'Wildlife Biologist'}, 20: {'company': 'Eco World', 'employee': 'Tina Martinez', 'position': 'Conservationist'}, 21: {'company': 'Finance Corp', 'employee': 'Uma Brooks', 'position': 'Auditor'}, 22: {'company': 'Finance Corp', 'employee': 'Victor Rivera', 'position': 'Investment Banker'}, 23: {'company': 'Market Masters', 'employee': 'Wendy Foster', 'position': 'SEO Specialist'}, 24: {'company': 'Market Masters', 'employee': 'Xander Hughes', 'position': 'Social Media Manager'}, 25: {'company': 'Tech Innovators', 'employee': 'Yvonne Carter', 'position': 'Data Scientist'}, 26: {'company': 'Tech Innovators', 'employee': 'Zack Taylor', 'position': 'Network Engineer'}, 27: {'company': 'Creative Solutions', 'employee': 'Amy Hall', 'position': 'Animator'}, 28: {'company': 'Creative Solutions', 'employee': 'Brian Young', 'position': 'Video Editor'}, 29: {'company': 'Health First', 'employee': 'Cindy King', 'position': 'Physical Therapist'}, 30: {'company': 'Health First', 'employee': 'Derek Turner', 'position': 'Pharmacist'}, 31: {'company': 'Eco World', 'employee': 'Elena Scott', 'position': 'Marine Biologist'}, 32: {'company': 'Eco World', 'employee': 'Fred Harris', 'position': 'Botanist'}, 33: {'company': 'Finance Corp', 'employee': 'Gina White', 'position': 'Credit Analyst'}, 34: {'company': 'Finance Corp', 'employee': 'Henry Perez', 'position': 'Loan Officer'}, 35: {'company': 'Market Masters', 'employee': 'Irene Morris', 'position': 'Brand Strategist'}, 36: {'company': 'Market Masters', 'employee': 'John Ross', 'position': 'Market Research Analyst'}, 37: {'company': 'Tech Innovators', 'employee': 'Kelly Evans', 'position': 'System Administrator'}, 38: {'company': 'Tech Innovators', 'employee': 'Liam Collins', 'position': 'Product Designer'}, 39: {'company': 'Creative Solutions', 'employee': 'Megan Kelly', 'position': 'Copywriter'}, 40: {'company': 'Creative Solutions', 'employee': 'Nick Ward', 'position': 'Art Director'}, 41: {'company': 'Health First', 'employee': 'Olga Reed', 'position': 'Radiologist'}, 42: {'company': 'Health First', 'employee': 'Pauline Scott', 'position': 'Surgeon'}, 43: {'company': 'Eco World', 'employee': 'Quincy Green', 'position': 'Geologist'}, 44: {'company': 'Eco World', 'employee': 'Rita Campbell', 'position': 'Meteorologist'}, 45: {'company': 'Finance Corp', 'employee': 'Steve Adams', 'position': 'Risk Manager'}, 46: {'company': 'Finance Corp', 'employee': 'Tara Brown', 'position': 'Financial Planner'}, 47: {'company': 'Market Masters', 'employee': 'Ulysses Davis', 'position': 'PR Specialist'}, 48: {'company': 'Market Masters', 'employee': 'Vicky Johnson', 'position': 'Event Coordinator'}, 49: {'company': 'Tech Innovators', 'employee': 'Will Graham', 'position': 'Mobile Developer'}, 50: {'company': 'Tech Innovators', 'employee': 'Xena Holmes', 'position': 'Tech Support Specialist'}}

In [26]:
cd=pd.DataFrame(employees)

In [27]:
cd=cd.T

In [28]:
cd

               company       employee                 position
1      Tech Innovators  Alice Johnson        Software Engineer
2      Tech Innovators      Bob Smith          Project Manager
3   Creative Solutions    Cathy Brown                 Designer
4   Creative Solutions   David Wilson            UX Researcher
5         Health First      Eva Davis             Data Analyst
6         Health First    Frank Clark    Healthcare Consultant
7            Eco World    Grace Lewis  Environmental Scientist
8            Eco World    Hank Miller                Ecologist
9         Finance Corp   Ivy Martinez               Accountant
10        Finance Corp  Jack Anderson        Financial Analyst
11      Market Masters      Karen Lee     Marketing Specialist
12      Market Masters     Leo Harris          Content Creator
13     Tech Innovators      Mia Clark          DevOps Engineer
14     Tech Innovators   Nathan Scott              QA Engineer
15  Creative Solutions   Olivia Green         Graphic Designer
16  Creative Solutions    Peter Adams          Product Manager
17        Health First   Quinn Parker                    Nurse
18        Health First   Rachel Baker                   Doctor
19           Eco World    Sam Edwards       Wildlife Biologist
20           Eco World  Tina Martinez          Conservationist
21        Finance Corp     Uma Brooks                  Auditor
22        Finance Corp  Victor Rivera        Investment Banker
23      Market Masters   Wendy Foster           SEO Specialist
24      Market Masters  Xander Hughes     Social Media Manager
25     Tech Innovators  Yvonne Carter           Data Scientist
26     Tech Innovators    Zack Taylor         Network Engineer
27  Creative Solutions       Amy Hall                 Animator
28  Creative Solutions    Brian Young             Video Editor
29        Health First     Cindy King       Physical Therapist
30        Health First   Derek Turner               Pharmacist
31           Eco World    Elena Scott         Marine Biologist
32           Eco World    Fred Harris                 Botanist
33        Finance Corp     Gina White           Credit Analyst
34        Finance Corp    Henry Perez             Loan Officer
35      Market Masters   Irene Morris         Brand Strategist
36      Market Masters      John Ross  Market Research Analyst
37     Tech Innovators    Kelly Evans     System Administrator
38     Tech Innovators   Liam Collins         Product Designer
39  Creative Solutions    Megan Kelly               Copywriter
40  Creative Solutions      Nick Ward             Art Director
41        Health First      Olga Reed              Radiologist
42        Health First  Pauline Scott                  Surgeon
43           Eco World   Quincy Green                Geologist
44           Eco World  Rita Campbell            Meteorologist
45        Finance Corp    Steve Adams             Risk Manager
46        Finance Corp     Tara Brown        Financial Planner
47      Market Masters  Ulysses Davis            PR Specialist
48      Market Masters  Vicky Johnson        Event Coordinator
49     Tech Innovators    Will Graham         Mobile Developer
50     Tech Innovators    Xena Holmes  Tech Support Specialist

In [29]:
cd.drop_duplicates(subset='company',keep='first')

               company       employee                 position
1      Tech Innovators  Alice Johnson        Software Engineer
3   Creative Solutions    Cathy Brown                 Designer
5         Health First      Eva Davis             Data Analyst
7            Eco World    Grace Lewis  Environmental Scientist
9         Finance Corp   Ivy Martinez               Accountant
11      Market Masters      Karen Lee     Marketing Specialist

In [30]:
cd.to_csv('company data.csv',index=False)

In [31]:
cd

               company       employee                 position
1      Tech Innovators  Alice Johnson        Software Engineer
2      Tech Innovators      Bob Smith          Project Manager
3   Creative Solutions    Cathy Brown                 Designer
4   Creative Solutions   David Wilson            UX Researcher
5         Health First      Eva Davis             Data Analyst
6         Health First    Frank Clark    Healthcare Consultant
7            Eco World    Grace Lewis  Environmental Scientist
8            Eco World    Hank Miller                Ecologist
9         Finance Corp   Ivy Martinez               Accountant
10        Finance Corp  Jack Anderson        Financial Analyst
11      Market Masters      Karen Lee     Marketing Specialist
12      Market Masters     Leo Harris          Content Creator
13     Tech Innovators      Mia Clark          DevOps Engineer
14     Tech Innovators   Nathan Scott              QA Engineer
15  Creative Solutions   Olivia Green         Graphic Designer
16  Creative Solutions    Peter Adams          Product Manager
17        Health First   Quinn Parker                    Nurse
18        Health First   Rachel Baker                   Doctor
19           Eco World    Sam Edwards       Wildlife Biologist
20           Eco World  Tina Martinez          Conservationist
21        Finance Corp     Uma Brooks                  Auditor
22        Finance Corp  Victor Rivera        Investment Banker
23      Market Masters   Wendy Foster           SEO Specialist
24      Market Masters  Xander Hughes     Social Media Manager
25     Tech Innovators  Yvonne Carter           Data Scientist
26     Tech Innovators    Zack Taylor         Network Engineer
27  Creative Solutions       Amy Hall                 Animator
28  Creative Solutions    Brian Young             Video Editor
29        Health First     Cindy King       Physical Therapist
30        Health First   Derek Turner               Pharmacist
31           Eco World    Elena Scott         Marine Biologist
32           Eco World    Fred Harris                 Botanist
33        Finance Corp     Gina White           Credit Analyst
34        Finance Corp    Henry Perez             Loan Officer
35      Market Masters   Irene Morris         Brand Strategist
36      Market Masters      John Ross  Market Research Analyst
37     Tech Innovators    Kelly Evans     System Administrator
38     Tech Innovators   Liam Collins         Product Designer
39  Creative Solutions    Megan Kelly               Copywriter
40  Creative Solutions      Nick Ward             Art Director
41        Health First      Olga Reed              Radiologist
42        Health First  Pauline Scott                  Surgeon
43           Eco World   Quincy Green                Geologist
44           Eco World  Rita Campbell            Meteorologist
45        Finance Corp    Steve Adams             Risk Manager
46        Finance Corp     Tara Brown        Financial Planner
47      Market Masters  Ulysses Davis            PR Specialist
48      Market Masters  Vicky Johnson        Event Coordinator
49     Tech Innovators    Will Graham         Mobile Developer
50     Tech Innovators    Xena Holmes  Tech Support Specialist

xlrd and openpyxl are the libraries to handel excel file

In [32]:
com_data=pd.read_csv('company data.csv')
com_data

               company       employee                 position
0      Tech Innovators  Alice Johnson        Software Engineer
1      Tech Innovators      Bob Smith          Project Manager
2   Creative Solutions    Cathy Brown                 Designer
3   Creative Solutions   David Wilson            UX Researcher
4         Health First      Eva Davis             Data Analyst
5         Health First    Frank Clark    Healthcare Consultant
6            Eco World    Grace Lewis  Environmental Scientist
7            Eco World    Hank Miller                Ecologist
8         Finance Corp   Ivy Martinez               Accountant
9         Finance Corp  Jack Anderson        Financial Analyst
10      Market Masters      Karen Lee     Marketing Specialist
11      Market Masters     Leo Harris          Content Creator
12     Tech Innovators      Mia Clark          DevOps Engineer
13     Tech Innovators   Nathan Scott              QA Engineer
14  Creative Solutions   Olivia Green         Graphic Designer
15  Creative Solutions    Peter Adams          Product Manager
16        Health First   Quinn Parker                    Nurse
17        Health First   Rachel Baker                   Doctor
18           Eco World    Sam Edwards       Wildlife Biologist
19           Eco World  Tina Martinez          Conservationist
20        Finance Corp     Uma Brooks                  Auditor
21        Finance Corp  Victor Rivera        Investment Banker
22      Market Masters   Wendy Foster           SEO Specialist
23      Market Masters  Xander Hughes     Social Media Manager
24     Tech Innovators  Yvonne Carter           Data Scientist
25     Tech Innovators    Zack Taylor         Network Engineer
26  Creative Solutions       Amy Hall                 Animator
27  Creative Solutions    Brian Young             Video Editor
28        Health First     Cindy King       Physical Therapist
29        Health First   Derek Turner               Pharmacist
30           Eco World    Elena Scott         Marine Biologist
31           Eco World    Fred Harris                 Botanist
32        Finance Corp     Gina White           Credit Analyst
33        Finance Corp    Henry Perez             Loan Officer
34      Market Masters   Irene Morris         Brand Strategist
35      Market Masters      John Ross  Market Research Analyst
36     Tech Innovators    Kelly Evans     System Administrator
37     Tech Innovators   Liam Collins         Product Designer
38  Creative Solutions    Megan Kelly               Copywriter
39  Creative Solutions      Nick Ward             Art Director
40        Health First      Olga Reed              Radiologist
41        Health First  Pauline Scott                  Surgeon
42           Eco World   Quincy Green                Geologist
43           Eco World  Rita Campbell            Meteorologist
44        Finance Corp    Steve Adams             Risk Manager
45        Finance Corp     Tara Brown        Financial Planner
46      Market Masters  Ulysses Davis            PR Specialist
47      Market Masters  Vicky Johnson        Event Coordinator
48     Tech Innovators    Will Graham         Mobile Developer
49     Tech Innovators    Xena Holmes  Tech Support Specialist

In [33]:
com_data.drop(2,axis=0)

               company       employee                 position
0      Tech Innovators  Alice Johnson        Software Engineer
1      Tech Innovators      Bob Smith          Project Manager
3   Creative Solutions   David Wilson            UX Researcher
4         Health First      Eva Davis             Data Analyst
5         Health First    Frank Clark    Healthcare Consultant
6            Eco World    Grace Lewis  Environmental Scientist
7            Eco World    Hank Miller                Ecologist
8         Finance Corp   Ivy Martinez               Accountant
9         Finance Corp  Jack Anderson        Financial Analyst
10      Market Masters      Karen Lee     Marketing Specialist
11      Market Masters     Leo Harris          Content Creator
12     Tech Innovators      Mia Clark          DevOps Engineer
13     Tech Innovators   Nathan Scott              QA Engineer
14  Creative Solutions   Olivia Green         Graphic Designer
15  Creative Solutions    Peter Adams          Product Manager
16        Health First   Quinn Parker                    Nurse
17        Health First   Rachel Baker                   Doctor
18           Eco World    Sam Edwards       Wildlife Biologist
19           Eco World  Tina Martinez          Conservationist
20        Finance Corp     Uma Brooks                  Auditor
21        Finance Corp  Victor Rivera        Investment Banker
22      Market Masters   Wendy Foster           SEO Specialist
23      Market Masters  Xander Hughes     Social Media Manager
24     Tech Innovators  Yvonne Carter           Data Scientist
25     Tech Innovators    Zack Taylor         Network Engineer
26  Creative Solutions       Amy Hall                 Animator
27  Creative Solutions    Brian Young             Video Editor
28        Health First     Cindy King       Physical Therapist
29        Health First   Derek Turner               Pharmacist
30           Eco World    Elena Scott         Marine Biologist
31           Eco World    Fred Harris                 Botanist
32        Finance Corp     Gina White           Credit Analyst
33        Finance Corp    Henry Perez             Loan Officer
34      Market Masters   Irene Morris         Brand Strategist
35      Market Masters      John Ross  Market Research Analyst
36     Tech Innovators    Kelly Evans     System Administrator
37     Tech Innovators   Liam Collins         Product Designer
38  Creative Solutions    Megan Kelly               Copywriter
39  Creative Solutions      Nick Ward             Art Director
40        Health First      Olga Reed              Radiologist
41        Health First  Pauline Scott                  Surgeon
42           Eco World   Quincy Green                Geologist
43           Eco World  Rita Campbell            Meteorologist
44        Finance Corp    Steve Adams             Risk Manager
45        Finance Corp     Tara Brown        Financial Planner
46      Market Masters  Ulysses Davis            PR Specialist
47      Market Masters  Vicky Johnson        Event Coordinator
48     Tech Innovators    Will Graham         Mobile Developer
49     Tech Innovators    Xena Holmes  Tech Support Specialist

In [34]:
com_data

               company       employee                 position
0      Tech Innovators  Alice Johnson        Software Engineer
1      Tech Innovators      Bob Smith          Project Manager
2   Creative Solutions    Cathy Brown                 Designer
3   Creative Solutions   David Wilson            UX Researcher
4         Health First      Eva Davis             Data Analyst
5         Health First    Frank Clark    Healthcare Consultant
6            Eco World    Grace Lewis  Environmental Scientist
7            Eco World    Hank Miller                Ecologist
8         Finance Corp   Ivy Martinez               Accountant
9         Finance Corp  Jack Anderson        Financial Analyst
10      Market Masters      Karen Lee     Marketing Specialist
11      Market Masters     Leo Harris          Content Creator
12     Tech Innovators      Mia Clark          DevOps Engineer
13     Tech Innovators   Nathan Scott              QA Engineer
14  Creative Solutions   Olivia Green         Graphic Designer
15  Creative Solutions    Peter Adams          Product Manager
16        Health First   Quinn Parker                    Nurse
17        Health First   Rachel Baker                   Doctor
18           Eco World    Sam Edwards       Wildlife Biologist
19           Eco World  Tina Martinez          Conservationist
20        Finance Corp     Uma Brooks                  Auditor
21        Finance Corp  Victor Rivera        Investment Banker
22      Market Masters   Wendy Foster           SEO Specialist
23      Market Masters  Xander Hughes     Social Media Manager
24     Tech Innovators  Yvonne Carter           Data Scientist
25     Tech Innovators    Zack Taylor         Network Engineer
26  Creative Solutions       Amy Hall                 Animator
27  Creative Solutions    Brian Young             Video Editor
28        Health First     Cindy King       Physical Therapist
29        Health First   Derek Turner               Pharmacist
30           Eco World    Elena Scott         Marine Biologist
31           Eco World    Fred Harris                 Botanist
32        Finance Corp     Gina White           Credit Analyst
33        Finance Corp    Henry Perez             Loan Officer
34      Market Masters   Irene Morris         Brand Strategist
35      Market Masters      John Ross  Market Research Analyst
36     Tech Innovators    Kelly Evans     System Administrator
37     Tech Innovators   Liam Collins         Product Designer
38  Creative Solutions    Megan Kelly               Copywriter
39  Creative Solutions      Nick Ward             Art Director
40        Health First      Olga Reed              Radiologist
41        Health First  Pauline Scott                  Surgeon
42           Eco World   Quincy Green                Geologist
43           Eco World  Rita Campbell            Meteorologist
44        Finance Corp    Steve Adams             Risk Manager
45        Finance Corp     Tara Brown        Financial Planner
46      Market Masters  Ulysses Davis            PR Specialist
47      Market Masters  Vicky Johnson        Event Coordinator
48     Tech Innovators    Will Graham         Mobile Developer
49     Tech Innovators    Xena Holmes  Tech Support Specialist

In [35]:
com_data.drop(2,axis=0,inplace=True)

In [59]:
com_data

               company       employee                 position
0      Tech Innovators  Alice Johnson        Software Engineer
1      Tech Innovators      Bob Smith          Project Manager
3   Creative Solutions   David Wilson            UX Researcher
4         Health First      Eva Davis             Data Analyst
5         Health First    Frank Clark    Healthcare Consultant
6            Eco World    Grace Lewis  Environmental Scientist
7            Eco World    Hank Miller                Ecologist
8         Finance Corp   Ivy Martinez               Accountant
9         Finance Corp  Jack Anderson        Financial Analyst
10      Market Masters      Karen Lee     Marketing Specialist
11      Market Masters     Leo Harris          Content Creator
12     Tech Innovators      Mia Clark          DevOps Engineer
13     Tech Innovators   Nathan Scott              QA Engineer
14  Creative Solutions   Olivia Green         Graphic Designer
15  Creative Solutions    Peter Adams          Product Manager
16        Health First   Quinn Parker                    Nurse
17        Health First   Rachel Baker                   Doctor
18           Eco World    Sam Edwards       Wildlife Biologist
19           Eco World  Tina Martinez          Conservationist
20        Finance Corp     Uma Brooks                  Auditor
21        Finance Corp  Victor Rivera        Investment Banker
22      Market Masters   Wendy Foster           SEO Specialist
23      Market Masters  Xander Hughes     Social Media Manager
24     Tech Innovators  Yvonne Carter           Data Scientist
25     Tech Innovators    Zack Taylor         Network Engineer
26  Creative Solutions       Amy Hall                 Animator
27  Creative Solutions    Brian Young             Video Editor
28        Health First     Cindy King       Physical Therapist
29        Health First   Derek Turner               Pharmacist
30           Eco World    Elena Scott         Marine Biologist
31           Eco World    Fred Harris                 Botanist
32        Finance Corp     Gina White           Credit Analyst
33        Finance Corp    Henry Perez             Loan Officer
34      Market Masters   Irene Morris         Brand Strategist
35      Market Masters      John Ross  Market Research Analyst
36     Tech Innovators    Kelly Evans     System Administrator
37     Tech Innovators   Liam Collins         Product Designer
38  Creative Solutions    Megan Kelly               Copywriter
39  Creative Solutions      Nick Ward             Art Director
40        Health First      Olga Reed              Radiologist
41        Health First  Pauline Scott                  Surgeon
42           Eco World   Quincy Green                Geologist
43           Eco World  Rita Campbell            Meteorologist
44        Finance Corp    Steve Adams             Risk Manager
45        Finance Corp     Tara Brown        Financial Planner
46      Market Masters  Ulysses Davis            PR Specialist
47      Market Masters  Vicky Johnson        Event Coordinator
48     Tech Innovators    Will Graham         Mobile Developer
49     Tech Innovators    Xena Holmes  Tech Support Specialist

In [ ]:
com_data.drop((i for i in